[core]
	editor = zed --wait
	quotepath = false
	autocrlf = false
[user]
	email = 50550561+Robot-Inventor@users.noreply.github.com
	name = Robot-Inventor
	signingkey = {{ env.USERPROFILE | replace(from="\\", to="/") }}/.ssh/id_ed25519_git_signing.pub
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[push]
	autoSetupRemote = true
[fetch]
	prune = true
[gpg]
	format = ssh
[commit]
	gpgsign = true
[gpg "ssh"]
	program = C:/Windows/System32/OpenSSH/ssh-keygen.exe
